<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">

            <form action="/Position/SetPosition/" method="post">
                 <div>
                    uId<input type="text" name="uId" value="" />
                </div>
                <div>
                    placeName<input type="text" name="placeName" value="" />
                </div>
                <div>
                    longitude<input type="text" name="longitude" value="" />
                </div>
                <div>
                    latitude<input type="text" name="latitude" value="" />
                </div>
                <div>
                    uploadTime<input type="text" name="uploadTime" value="" />
                </div>
                <div>
                    t<input type="text" name="t" value="1415095361796" />
                </div>
                <div>
                    token<input type="text" name="token" value="6F549D75F87495C6014569A6AD5A1CF3" />
                </div>
                <div>
                    <button type="submit">提交</button>
                </div>
            </form>

        </div>
    </section>
        <section class="featured">
        <div class="content-wrapper">

            <form action="/Common/UploadFile" method="post" enctype="multipart/form-data">
                 <div>
                    uId<input type="text" name="uId" value="79" />
                </div>
                <div>
                    uploadfile<input type="file" name="uploadfile" value="" />
                </div>
                <div>
                    t<input type="text" name="t" value="1415095361796" />
                </div>
                <div>
                    token<input type="text" name="token" value="6F549D75F87495C6014569A6AD5A1CF3" />
                </div>
                <div>
                    <button type="submit">提交</button>
                </div>
            </form>

        </div>
    </section>

    <section class="content-wrapper main-content clear-fix">
        <h3>下面是我们建议的步骤:</h3>
        <ol class="round">
            <li class="one">
                <h5>开始使用</h5>
                ASP.NET Web API  是一个框架，您可以通过该框架轻松生成可访问
                多种客户端(包括浏览器和移动设备)的 HTTP 服务。ASP.NET Web API
                是一个用于在 .NET Framework 之上生成 REST 样式的应用程序的理想平台。
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">了解详细信息...</a>
            </li>

            <li class="two">
                <h5>添加 NuGet 程序包并快速开始编码</h5>
                通过 NuGet，可以轻松地安装和更新免费的库和工具。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245161">了解详细信息...</a>
            </li>
            <li class="three">
                <h5>查找 Web 宿主</h5>
                你可以轻松找到所提供的功能和价格
      都适合你应用程序的 Web 宿主公司。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245164">了解详细信息...</a>
            </li>
        </ol>
    </section>
</div>
