<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <form action="/user/PostValidUser/" method="post">
                <div>
                    phone <input type="text" name="phone" value="" />
                </div>
                <div>
                    password
                    <input type="password" name="password" value="" />
                </div>
                <div>
                    <button type="submit">提交</button>
                </div>
            </form>
        </div>
    </section>

</div>
