<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <form action="/User/Register" method="post">
                <div>
                    phone <input type="text" name="phone" value="" />
                </div>
                <div>
                    password
                    <input type="password" name="password" value="" />
                </div>
                <div>
                    t<input type="text" name="t" value="1415095361796" />
                </div>
                <div>
                    token<input type="text" name="token" value="6F549D75F87495C6014569A6AD5A1CF3" />
                </div>
                <div>
                    <button type="submit">提交</button>
                </div>
            </form>
        </div>
    </section>

</div>
