@{
    ViewBag.Title = "蜂觅介绍";
    string title = ViewBag.Title;
}
<style type="text/css">

</style>
<h2 class="text_center">@title</h2>
<div>
    <span>软件类别：</span>
    <em>定位、社交</em>
</div>
<div>
    <span>更新时间：</span>
    <em>2014-10-26</em>
</div>
<div>
    <span>版本号：</span>
    <em>1.0.0</em>
</div>
<div>
    <span>来源：</span>
    <em>億蜂網科技有限公司（Hongkong）</em>
</div>
<div>
    <span>软件介绍：</span>
</div>
<p>你是否想如蜜蜂一样在茫茫人海中“嗅”到亲人好友的气息？你是否想变身隐形人隐匿于市毫无踪迹？由億蜂網科技有限公司（Hongkong）自主开发的“蜂觅”能够帮你实现愿望。</p>
<div>
    <span>蜂觅是一款以手机定位服务为主的社交应用：</span>
</div>
<p>
【定位达人】室外没有wifi不用怕，想省电关闭GPS也不用怕，蜂觅可以智能选择wifi、GPS、2G/3G/4G移动网络中的最佳网络对自己、对亲朋好友进行定位。还能保存轨迹哦!
    </p>

<p>【玩转隐身】独家推出灵活隐身功能：放学下班后不想被人发现，可选择限时定位；不想被蜂小觅童鞋知道行踪，可选择对她/他隐身。。。
</p>
<p>【临时群组】想约一票队友野外探险、登山徒步、骑行自驾吗？再也不用为找不到队友而心急如焚啦。在蜂觅里建立临时群，队友位置信息尽在你手中！单位组织的拓展、家庭日也同样适用哦！
另外，还有很多惊喜小细节等待你去发掘哦~保证会让你眼前一亮，会心一笑
</p>